<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.materialdoc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialDoc">
        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RaisedButtonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.FlatButtonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.CircularProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.LinearProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.RadioButtonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.CheckBoxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.SwitchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.InputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.InputSingleLineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.InputMultiLineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.InputFullWidthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

        <activity
            android:name=".ui.activity.RatingBarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialDoc" />

    </application>

</manifest>
